{% extends 'layout.html' %}

{% block content%}
  <!-- expert section -->

  <section class="expert_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          LOOKING FOR EXPERTS?
        </h2>
        <p>
          I focus on cultivating a culture of collaboration, inclusivity, and continuous improvement. 
          My goal is to support both the organization and its employees by creating systems and processes that promote well-being, professional development, and operational efficiency
        
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/e1.jpg') }}" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Martin Anderson
              </a>
              <h6 class="expert_position">
                <span>
                  Web Anaylzer
                </span>
                <span>
                  41 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <p>
                I am passionate about aligning human capital with the strategic goals of the business to drive success and growth. 
                With a strong commitment to employee engagement
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/e2.jpg') }}" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Semanta Klores
              </a>
              <h6 class="expert_position">
                <span>
                  Graphic Designer
                </span>
                <span>
                  32 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <p>
                I bring a wealth of experience in fostering a positive and productive work environment
              </p>
            </div>
          </div>
        </div>
       <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/e3.jpg') }}" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Ryan Martines
              </a>
               <h6 class="expert_position">
                <span>
                  SEO Expert
                </span>
                <span>
                  27 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <p>
                My goal is to foster a positive, collaborative environment that maximizes productivity while maintaining the freedom and autonomy that freelancers value.
                I specialize in creating flexible and efficient systems that cater to the unique needs of remote and contract-based professionals.
              
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View All Freelancers
        </a>
      </div>
    </div>
  </section>

  <!-- end expert section -->
  {% endblock content%}